body {
    background: url("../images/concrete-texture.png") repeat;
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
}

.page-header {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
    width: 100%;
    
  }



.navbar-brand {
    background-color: #4aaaa5;
    color: #eee; 
    
}

.navbar-header {
  margin-right: 60px;
}

#profileimage {
    float: left;
    height: 15em;
    margin-right: 20px;
    
}

h1, h2, h3 {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2,h3 {
      border-bottom: 2px solid #dddddd;
      padding: 20px;
}
h3 {
  text-align: center;
}

/*---------------------------------Connect With me -------*/


    
  
  .right-column {
    font-size: 20px;
    padding:20px ;
    text-align: center;
    background-color: #ffffff;
    Border: 2px solid #eee;
    margin-bottom: 20px;
    margin-left: 20px;

  }

  .right-column, ul {
    text-align: left;
    
  }

  .right-column, ul li {
    display: inline-block;
    
  }

  .right-column ul li {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    
  }

  ul li img {
    width: 40px;
    display: table-row;
    overflow: right;
  }

  #left-column {
      background-color: #ffffff;
      padding: 30px;
      margin-bottom: 80px;
  }


form {
  font-size: 18px;
  display: block;
}

lable {
  font-size: 20px;
  margin:0 30;
}

form input {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #dddddd;
}

textarea {
  width: 100%;
  height: 250px;
  display: block;
  border: 2px solid #dddddd;
  padding: 10px;
}

button {
  background-color: #4aaaa5;
  padding: 10px;
  width: 20%;
  margin-top: 10px;
  color: #ffffff;
  font-size: inherit;
}

 

  .port-item {
    position: relative;
    background-color: rgba(65,160,155, 7);
    margin-bottom: 40px;
    width: 45%;
    text-align: center;
    color:#eee;
    float: left;
    height: 200px;
    top: 20px;
    
    

  }

  .port-item:nth-child(odd) { 
    float: right;
  }

  #port1 {
    background: url("../images/port1.jpg");
    background-repeat: no-repeat;
    background: cover;

  }

  #port2 {
    background: url("../images/port2.jpg");
    background-repeat: no-repeat;
    background: cover;
  }

  #port3 {
    background: url("../images/port3.jpg");
    background-repeat: no-repeat;
    background: cover;
  }

  #port4 {
    background: url("../images/port4.jpg");
    background-repeat: no-repeat;
    background: cover;
  }

  #port5 {
    background: url("../images/port5.jpg");
    background-repeat: no-repeat;
    background: cover;
  }

  h4 {
    padding: 20px;
    background-color: #4aaaa5;
    opacity: inherit;
    position: relative;
    top: 120px;
  }
  
  

  footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: 3px solid #42a09a;
    color: #eee;
    text-align: center;
    font-size: 15px;
    padding: 20px;
   
  }
  
  @media screen and (max-width: 980px) {
    
    #left-column {
      padding: 40px;
      float: left;
  }    
    .right-column {
      float: right;
      
    
  }

  #profileimage {
    clear: both;
    height: 400px;;
  }
  #aboutmetext {
    float: left;
    
  }

  #form-name {
    clear: both;
    width: 100%;
  }

  #form-email {
    width: 100%;
  }

  #form-message {
    width: 100%;
    border-color: #dddddd;
  }


  .port-item {
    float: left;
    width:100%;
  }
  
  footer {
    clear: both;
    margin-top: 40px;
  }

  }

  
   
  @media screen and (max-width: 768px) {
     #left-column {
      width: 100%;
      
  }    
     .right-column {
      width: 100%;
      margin-bottom: 160px;
  }

  .port-item {
    float: left;
  }
  .port-item:nth-child(odd) {
    float: right;
  }


     
  
   #profileimage {
    width: 200px;
    height: 200px;
    float: left;
   
  }

  #aboutmetext {
    
    float: right;
  }




  

  
  footer {
    clear: both;
  margin-top: 40px;
}

}  
  @media screen and (max-width: 640px) {


    #left-column {
      clear: both;
      margin:20px;
      width:100%;
    }
  }